avrdude
libavrdude.a
libavrdude.la
Makefile
Makefile.in
*.o
*.lo
libtool
ltmain.sh
.deps/
.libs/
INSTALL
ac_cfg.h
ac_cfg.h.in
aclocal.m4
autom4te.cache/
avrdude.conf
avrdude.conf.tmp
avrdude.spec
compile
config.guess
config.log
config.status
config.sub
config_gram.c
config_gram.h
configure
configure~
depcomp
doc/mdate-sh
doc/texinfo.tex
install-sh
lexer.c
missing
stamp-h1
windows/.deps/
ylwrap
m4/
*.bin
