.deps/
.libs/
m4/
*.diff
*.patch
y.output
y.tab.h
lexer.c
config_gram.c
config_gram.h
.depend
INSTALL
Makefile.in
Makefile
ac_cfg.h.in
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
compile
missing
mkinstalldirs
stamp-h.in
stamp-h1
ac_cfg.h
avrdude.conf
avrdude.conf.tmp
avrdude.spec
config.guess
config.log
config.status
config.sub
avrdude
libtool
ltmain.sh
ylwrap

*.o
*.lo
*.a
*.la

# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.suo
*.user
*.userosscache
*.sln.docstates
*.log

# Visual Studio code
.vscode/
